.App {
    text-align: center;
    background-color:#e0e2e7cf;
  }
 
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #e0e2e7cf;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color:#e0e2e7cf ;
  }
  
  #codebtn{
    border: 10px solid white;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: grey;
    
  }
  .countryCode {
    position: absolute;
    inset: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: grey;
  }
  #yellow
  {
    color:#FFBD59;
  
  
  }
  #mobile{
    border:10px solid white;
    background-color: white;
    width: 240px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .footer {
    align-self: center;
    text-align: center;
    
  }
  .footerText {
    color: grey;
    font-size: medium;
  }.link {
    color: var(--primary-color);
    padding: 10px;
    font-size: medium;
    font-weight: bold;
  }
  
  
  /* div.inputBox {
    border: 0px solid rgb(151, 114, 114);
    background-color: white;
    color:black;
    font-size: small;
    border-radius: 30px;
   padding:8px;
    width: 300px;
  } */
  .continueButton {
    border: 2px solid #FFBD59;
    border-radius: 28px;
    padding: 9px;
    text-align:center;
    background-color:#FFBD59;
     font-size:small;
    width: 300px;
    margin-top: 18px; 
   } 